html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* 筛选框区域样式 */
.options-box {
  background: #222;
  color: #ccc;
  height: 100%;
  width: 300px;
  margin: 0;
}
.options-box>header{
  height: 60px;
  line-height: 60px;
  text-align:center;
}
.options-box>.search-box{
  width: 260px;
  height: 40px;
  margin:0 auto;
}
.options-box>.search-box>input{
  height: 40px;
  border: 0;
  padding: 0;
  float:left;
}
#search-text{
  width: 170px;
  padding-left:10px;
}
#search-btn{
  width: 80px;
}
.options-box>ul.location-list{
  padding: 0 20px;
  width: 260px;
}
.options-box>ul.location-list>li{
  list-style: none;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
}
.options-box>ul.location-list>li:hover {
  background: #000;
  text-indent: 10px;
}

/* 地图区域样式 */
.map-box {
  position: absolute;
  height: 100%;
  top: 0;
  background: #333;
  width: calc(100% - 300px);
  left: 300px;
}

.map-box-full{
  width: 100%;
  left: 0;
}
.map-box>header{
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align:center;
}
.map-box>header>.options-btn{
  display: inline-block;
  width: 60px;
  cursor: pointer;
}
.map-box>header>.title{
  display: inline-block;
  width: calc(100% - 65px);
}
#map {
  width:100%;
  height: calc(100% - 60px);
}

